@import '../src/btn-back.css';
@import 'simplelightbox/dist/simple-lightbox.min.css';
/** Reset */

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

/* Common */

body {
    font-family: "Montserrat", serif;
}

/*! Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 1128px;
    margin: 24px auto;
}

.gallery li a {
    border-radius: 8px;
    overflow: hidden;
    height: 200px;
    width: 360px;
    transition: transform 500ms ease-in-out;
}

.gallery li a:hover {
    transform: scale(1.05);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}