@import '../src/btn-back.css';
/** Reset */

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

/* Common */

body {
    font-family: "Montserrat", serif;
}

/*! Form  */

main div {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.feedback-form label:first-child {
    margin-bottom: 8px;
}

.feedback-form label:not(:first-child):not(:last-child) {
    margin-bottom: 16px;
}

.feedback-form input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 8px 16px;
    transition: border-color 500ms ease-in-out;
}

.feedback-form input:hover {
    border-color: #000;
}

.feedback-form textarea {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
    resize: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 8px 16px;
    transition: border-color 500ms ease-in-out;
}

.feedback-form textarea:hover {
    border-color: #000;
}

.feedback-form button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background 500ms ease-in-out;
    cursor: pointer;
}

.feedback-form button:hover {
    background: #6c8cff;
}